<core-header-panel navigation flex mode="waterfall">
<core-toolbar class="tall">
    <div class="middle">
        <a id="toolbar" href="/"><img src="/img/fxp-logo-2x.png" alt="FXP Logo" width="224px" height="140px"></a>
    </div>
</core-toolbar>

<core-menu theme="core-light-theme">
    <core-submenu icon="info-outline" label="What is FXP?">
        <core-item label="About Us"><a href="/about/"></a></core-item>
        <core-item label="Members"><a href="/about/members/"></a></core-item>
        <core-item label="Contact"><a href="/about/contact/"></a></core-item>
    </core-submenu>
    <core-submenu icon="device:battery-90" label="Active Devices">
        <core-item label="Overview"><a href="/active/"></a></core-item>
        <core-submenu label="Krait-400 Family">
            <core-item label="Xperia Z3"><a href="/qualcomm-krait-400-family/sony-xperia-z3/"></a></core-item>
            <core-item label="Xperia Z3 Compact"><a href="/qualcomm-krait-400-family/sony-xperia-z3-compact/"></a></core-item>
            <core-item label="Xperia Z3 Tablet Compact"><a href="/qualcomm-krait-400-family/sony-xperia-z3-tablet-compact/"></a></core-item>
            <core-item label="Xperia Z2"><a href="/qualcomm-krait-400-family/sony-xperia-z2/"></a></core-item>
            <core-item label="Xperia Z2 Tablet"><a href="/qualcomm-krait-400-family/sony-xperia-z2-tablet/"></a></core-item>
            <core-item label="Xperia Z1"><a href="/qualcomm-krait-400-family/sony-xperia-z1/"></a></core-item>
            <core-item label="Xperia Z1 Compact"><a href="/qualcomm-krait-400-family/sony-xperia-z1-compact/"></a></core-item>
            <core-item label="Xperia Z Ultra"><a href="/qualcomm-krait-400-family/sony-xperia-z-ultra/"></a></core-item>
        </core-submenu>
        <core-submenu label="Cortex-A7 Family">
            <core-item label="Xperia T2 Ultra"><a href="/qualcomm-cortex-a7-family/sony-xperia-t2-ultra/"></a></core-item>
            <core-item label="Xperia T3"><a href="/qualcomm-cortex-a7-family/sony-xperia-t3/"></a></core-item>
            <core-item label="Xperia M2"><a href="/qualcomm-cortex-a7-family/sony-xperia-m2/"></a></core-item>
            <core-item label="Xperia E3"><a href="/qualcomm-cortex-a7-family/sony-xperia-e3/"></a></core-item>
        </core-submenu>
    </core-submenu>
    <core-submenu icon="device:battery-20" label="Legacy Devices">
        <core-item label="Overview"><a href="/legacy/"></a></core-item>
        <core-submenu label="Krait-200 Family Gen2">
            <core-item label="Xperia Z"><a href="/qualcomm-krait-200-family-2nd-gen/sony-xperia-z/"></a></core-item>
            <core-item label="Xperia ZL"><a href="/qualcomm-krait-200-family-2nd-gen/sony-xperia-zl/"></a></core-item>
            <core-item label="Xperia ZR"><a href="/qualcomm-krait-200-family-2nd-gen/sony-xperia-zr/"></a></core-item>
            <core-item label="Xperia Z Tablet"><a href="/qualcomm-krait-200-family-2nd-gen/sony-xperia-tablet-z/"></a></core-item>
            <core-item label="Xperia SP"><a href="/qualcomm-krait-200-family-2nd-gen/sony-xperia-sp/"></a></core-item>
            <core-item label="Xperia L"><a href="/qualcomm-krait-200-family-2nd-gen/sony-xperia-l/"></a></core-item>
            <core-item label="Xperia M"><a href="/qualcomm-krait-200-family-2nd-gen/sony-xperia-m/"></a></core-item>
        </core-submenu>
        <core-submenu label="Krait-200 Family Gen1">
            <core-item label="Xperia T"><a href="/qualcomm-krait-200-family-1st-gen/sony-xperia-t/"></a></core-item>
            <core-item label="Xperia TX"><a href="/qualcomm-krait-200-family-1st-gen/sony-xperia-tx/"></a></core-item>
            <core-item label="Xperia V"><a href="/qualcomm-krait-200-family-1st-gen/sony-xperia-v/"></a></core-item>
        </core-submenu>
        <core-item label="Obsolete Devices"><a href="/obsolete/"></a></core-item>
    </core-submenu>
    <core-submenu icon="android" label="AOSP by FXP">
        <core-item label="Android 5.0"><a href="/aosp/aosp-5-0/"></a></core-item>
    </core-submenu>
    <core-submenu icon="bug-report" label="CyanogenMod">
        <core-item label="CyanogenMod 12"><a href="/cyanogenmod/cyanogenmod-12/"></a></core-item>
        <core-item label="CyanogenMod 11"><a href="/cyanogenmod/cyanogenmod-11/"></a></core-item>
    </core-submenu>
</core-menu>
</core-header-panel>
